{% extends 'base.html' %}
{% comment %} titulo {% endcomment %}
{% block tirulo %}Home{% endblock tirulo %}

{% comment %} page content {% endcomment %}

<!-- Typed effect -->
{% block contenido  %}
    <div class="block-position">
        <h1 class="text-light typed-text">Nosotros
            <span id="element" style="color: #8abaae;"></span>
        </h1>
    </div>

    <!-- message -->
    <div >
        <button style="background-color: #5ca08e;" class="btn text-light pulse">
            <i class="fas fa-envelope fa-2x"></i>
        </button>
    </div>
{% endblock  %}